<ion-header>
    <ion-toolbar style="color:#9e54f3;">
        <ion-button slot="start" class="menu_btn" color="secondary">
            <ion-back-button color="light" defaultHref="home"></ion-back-button>
        </ion-button>
        <ion-title>
            <h1 align="center">SETTINGS</h1>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <h4>Access Control</h4>
    <ion-list>
        <ion-item>
            <ion-label>
                <ion-icon color="danger" name="lock-closed"></ion-icon> Pin
            </ion-label>
            <ion-toggle mode="ios"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon color="danger" name="finger-print-outline"></ion-icon> Finger Print ID
            </ion-label>
            <ion-toggle mode="ios"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon color="danger" name="person-circle-outline"></ion-icon> Facial Recognition ID
            </ion-label>
            <ion-toggle mode="ios"></ion-toggle>
        </ion-item>

        <!--img src="../../../assets/img/log.gif" /-->
    </ion-list>

</ion-content>