ion-button {
    height: 15%;
    margin-bottom: 0px;
    margin-right: 0px;
    --background: #1b127d;
    --border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}