<ion-content color="secondary">
  <ion-button (click)="home()">
    <ion-icon color="light" name="arrow-back-sharp"></ion-icon>
  </ion-button>
  <h1>ABOUT US</h1>
  <img src="assets/img/aboutus.png">
  <h2>We Provide The Best <br> Accommodation For You!</h2>
  <p>Choose From a Wide Range of Properties/Student Accommodation Which Accommodation 101 Offers. Search Now! Choose from a wide range of properties which Accommodation 101 offers. Apartments. Residencies.  We speak your language. Best Price Guarantee.</p>
              
  <br>
  
  
  
  <ion-slides>
  
  <ion-slide>
    <p>Make Your Dream Come True</p>
  </ion-slide>
      
  <ion-slide>
    <p>Start Your Membership</p>
  </ion-slide>
  
  <ion-slide>
    <p>Enjoy Your New Accommodation</p>
  </ion-slide>

  </ion-slides>

   

</ion-content>