ion-content {
    ion-button {
        left: 0%;
    }
    text-align: center;
    img {
        height: 50%;
        width: 85%;
    }
    h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 170%;
    }
    h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 170%;
    }
    p {
        text-align: center;
        font-weight: bolder;
        font-size: 170%;
    }
}

ion-slides {
    --bullet-background : #f4f5f8;
}